$w: 900px;
$h: 900px;
$menuH: 60px;
.home {
  position: relative;
  margin: 0 auto;
  width: $w;
  min-width: $w;
  height: $h;
  min-height: $h;
  color: #fff;
  background-color: #666;
  .home__device-list {
    position: absolute;
    top: 20px;
    right: 222px;
  }
  .home__size {
    position: absolute;
    left: 135px;
    // width: 100px;
    height: $menuH;
    line-height: $menuH;
    text-align: center;
    .home__size-w,
    .home__size-h {
      display: inline-block;
      width: 40px;
      height: 20px;
      line-height: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  .home__effect {
    overflow: hidden;
    position: absolute;
    top: $menuH;
    left: 30px;
    width: 375px;
    height: 812px;
    border: 10px solid #ccc;
    border-radius: 6px;
    text-align: center;
  }
  .home__hint {
    position: absolute;
    top: $menuH + 20px;
    left: 130px;
  }
  .home__file-btn {
    position: absolute;
    top: 60px;
    right: 153px;
    width: 200px;
    height: 21px;
  }
  .home__log {
    position: absolute;
    top: 120px;
    right: 80px;
    width: 275px;
    height: 222px;
    background-color: #000;
    color: #fff;
    line-height: 1.5;
    border-radius: 6px;
  }
  .home__cut-show {
    position: absolute;
    top: 18px;
    right: 125px;
  }
}
