.effect {
  position: absolute;
  top: 0;
  left: 160px;
  width: 500px;
  height: 100%;
  background-color: #666;
  .effect__visible {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 10px solid #000;
    border-radius: 10px;
    text-align: center;
  }
}