.banner {
  .banner__wrap {
    overflow: hidden;
    width: 100%;
    height: 2rem;
    .banner__main {
      width: 100%;
      height: 100%;
      font-size: 0;
      text-align: center;
      li {
        font-size: 0.6rem;
        display: inline-block;
        width: 3.75rem;
        height: 100%;
        line-height: 2rem;
        user-select: none;
      }
    }
  }
}