.warning_fps_animation {
  width: 100%;
  transform: translateZ(0);
  /* height: 100%; */
  /* background-size: 750px 1624px; */
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: keyframes-warning;
  animation-duration: 3.8s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
}

@keyframes keyframes-warning {
  0% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(1).jpg');
  }

  4.76% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(2).jpg');
  }

  9.52% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(3).jpg');
  }

  14.29% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(4).jpg');
  }

  19.05% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(5).jpg');
  }

  23.81% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(6).jpg');
  }

  28.57% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(7).jpg');
  }

  33.33% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(8).jpg');
  }

  38.10% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(9).jpg');
  }

  42.86% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(10).jpg');
  }

  47.62% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(11).jpg');
  }

  52.38% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(12).jpg');
  }

  57.14% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(13).jpg');
  }

  61.90% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(14).jpg');
  }

  66.67% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(15).jpg');
  }

  71.43% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(16).jpg');
  }

  76.19% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(17).jpg');
  }

  80.95% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(18).jpg');
  }

  85.71% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(19).jpg');
  }

  90.48% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(20).jpg');
  }

  95.24%,
  100% {
    background-image: url('//3gimg.qq.com/mig_market/activity/act/asset/destroy_king_h5/img/warning1.1/warning(21).jpg');
  }
}
